form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

label {
    margin: 5px 0;
}

input, button {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}
